
// Общие стили
body {
  min-width: 320px;
  overflow-x: hidden;
}
ul {
  @include ul-style;
}

img {
  max-width: 100%;
  height: auto;
}

//Кнопки
.btn {
  display: inline-block;
  padding: 8px 20px;
  @include fonts($rob, 16, 34, 500);
  color: $main-color;
  background-color: $second-color;
  outline: none;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  &--invert {
    color: $second-color;
    background-color: $main-color;
  }
  &--no-brad {
    border-radius: 0;
  }
}

//Иконки


//Header - Шапка
.header {
  background-color: $main-color;
}
.header__wrapper {
  @include wrapper();
    display: flex;
  @media #{$m-sm} {
    flex-direction: column;
  }
}
.header__logo {
  margin-right: 82px;
  min-width: 150px;
  @media #{$m-md} {
    width: 33%;
    margin-right: 5%;
  }
  @media #{$m-sm} {
    align-self: center;
  }

}

//menu - меню
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  @include fonts($dosis, 14, 25, 400);
  color: $second-color;
}
.menu li {
  padding: 7px;
}
.menu__items .menu__item {
  @media #{$m-xs} {
  padding: 7px 22px;
  }
}
.menu__top {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 920px) {
    flex-direction: column;
  }
}
.menu__contacts {
  display: flex;
  justify-content: space-between;
  flex-basis: 323px;
  @media screen and (max-width: 920px) {
    flex-basis: 35px;
    justify-content: space-around;
  }
}
.menu__user-block {
  display: flex;
  justify-content: space-between;
  flex-basis: 234px;
  @media screen and (max-width: 920px) {
    flex-basis: 35px;
    justify-content: space-around;
  }
}

.menu__link {
  color: $second-color;
  text-decoration: none;
}
.menu__items {
  display: flex;
  justify-content: space-between;
  @media #{$m_xs} {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 395px) {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
.menu__item-link {
  color: $second-color;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__search {
  font-size: 0;
  .fa-search {
    padding-top: 5px;
  }
}
.menu__top i.fa {
  font-size: 16px;
  margin-right: 9px;
}

//slider - Слайдер



//welcome - блок привествия
.welcome {
  padding: 55px 0;
  background: $main-color url(../img/welcome-layer.jpg) no-repeat top center;
  background-size: cover;
  color: $second-color;
  @media #{$m-xs} {
    padding-top: 20px;
  }
}
.welcome__wrapper {
  @include wrapper();
  background: url(../img/welcome-kids.png) no-repeat top right 20px;
  background-size: 50%;
  @media #{$m-md} {
    background-size: 60%;
  }
  @media #{$m-sm} {
    background-size: 35%;
  }
  @media #{$m-xs} {
    background-position: top center;
  }
}
.welcome__block {
  @include size(5);
  @include size-sm(12);
  @media #{$m-sm} {
    margin: 0 auto;
    width: 100%;
  }
  @media #{$m-xs} {
    padding-top: 100px;
}
}
.welcome__subtitle {
  @include fonts($dosis, 30, 56, 500);
}

.welcome__caption {
  @include fonts($dosis, 36, 56, 700);
  text-transform: uppercase;
}

.welcome__text {
  @include fonts($rob, 14, 24, 400);
}




//features - блок преимуществ
.features {
  padding-top: 57px;
  padding-bottom: 50px;
}
.features__wrapper {
  @include wrapper();
}
.features__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: uppercase;
}
.features__text {
  @include fonts($rob, 14, 24, 500);
}
.features__items {
 @include row-flex();
  justify-content: center;
  @media #{$m-md} {
    margin-left: 48px;
    margin-right: 48px;
  }
  @media #{$m-sm} {
    margin: 0;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 45px;
  &:nth-child(even) {
    flex-direction: column-reverse;
  }
  &:nth-child(even) .features__info {
    border-radius: 25px 25px 0 0;
  }
}
.fearures__img-container {
  width: 283px;
  height: 334px;
 @media screen and (max-width: 1180px) and (min-width: 993px)  {
    width: 230px;
    height: 262px;
  }
}
.features__info {
  width: 283px;
  height: 334px;
  box-sizing: border-box;
  padding: 36px;
  background-color: #fafafa;
  border-radius: 0 0 25px 25px;
  @media screen and (max-width: 1180px) and (min-width: 993px)  {
    width: 230px;
    height: 262px;
    padding: 25px;
  }
}
.features__info-subtitle {
  @include fonts($rob, 14, 24, 500);
  i.fa-folder-open {
    font-size: 16px;
    margin-right: 5px;
  }
}
.features__info-name {
  @include fonts($rob-sl, 24, 24, 400);
}
.features__info-text {
  @include fonts($rob, 14, 24, 400);
}
.features__info-link {
  @include fonts($rob, 16, 34, 500);
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
}
.features__btn {
  text-align: center;
}

//facilities - блок школьные средства
.facilities {
  padding: 55px 0;
  background: $main-color url("../img/facilities-layer.jpg") top center;
  background-size: contain;
}
.facilities__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include wrapper();
  @media #{$m-sm} {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.facilities__info {
  max-width: 488px;
  @media #{$m-md} {
    max-width: 320px;
  }
  @media #{$m-sm} {
    max-width: 400px;
  }
}
.facilities__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $second-color;
  text-transform: capitalize;
}
.facilities__text {
  @include fonts($rob, 14, 24, 400);
  color: $second-color;
}
.facilities__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 556px;
  @media #{$m-md} {
    width: 500px;
  }
}
.facilities__item {
  position: relative;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  margin: 18px 12px;
  padding-top: 100px;
  @include fonts($rob, 16, 24, 500);
  color: $main-color;
  background-color: $second-color;
  border-radius: 20px;
  text-align: center;
  @media screen and (max-width: 400px) {
    width: 250px;
    height: 250px;
    padding-top: 140px;
  }
}

.facilities__item {
  &::before {
    position: absolute;
    content: '';
    width: 48px;
    height: 55px;
    bottom: 70px;
    left: calc(50% - 24px);
    @media screen and (max-width: 400px) {
      bottom: 110px;
    }
  }
  &--health::before{
    background: url("../img/healthy_meals.png") no-repeat;
  }
  &--multimedia::before {
    background: url("../img/multimedia.png") no-repeat;
  }
  &--art::before {
    background: url("../img/art.png") no-repeat;
  }
  &--events::before {
    background: url("../img/events.png") no-repeat;
  }
  &--teachers::before {
    background: url("../img/teachers.png") no-repeat;
  }
  &--acivement::before {
    background: url("../img/achievements.png") no-repeat;
  }
}


//teachers - блок учителя
.teachers__wrapper {
  @include wrapper();
}
.teachers__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: capitalize;
}
.teachers__text {
  @include fonts($rob, 14, 24, 500);
}
.teachers__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.teachers__item {
  position: relative;
  width: 258px;
  height: 258px;
  margin: 13px;
}
.teachers__img {
  border-radius: 25px;
}
.teachers__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  color: $second-color;
  background-color: $main-color;
  border-radius: 0 0 25px 25px;
}
.teachers__name {
  @include fonts($dosis, 26, 36, 700);
}
.teachers__lesson {
  @include fonts($dosis, 14, 26, 500);
}



//reviews-slider  -  слайдер с отзывами
.reviews-slider {
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 98px;
  padding-right: 98px;
  color: $second-color;
  background: $main-color url("../img/slider_review-layer.png") no-repeat bottom center;
  background-size: contain;
  @media #{$m-sm} {
    padding-left: 68px;
    padding-right: 68px;
  }
  @media #{$m-xs} {
    padding-left: 38px;
    padding-right: 38px;
  }
}
.reviews-slider__wrapper {
  @include wrapper();
}
.reviews-slider__form {
  text-align: center;
}
.reviews-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-slider__img-block {
  padding: 67px 97px;
  background: url("../img/frame.png") no-repeat top center;
  background-size: contain;
  @media screen and (max-width: 600px) {
    padding: 18.4% 23.1%;
  }
}
.reviews-slider__person-name {
  @include fonts($dosis, 36, 46, 700);
}
.reviews-slider__text {
  @include fonts($rob, 18, 28, 400);
  margin-bottom: 50px;
}
.reviews-slider__label {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid $second-color;
  border-radius: 9px;
  &:hover {
    cursor: pointer;
  }
}
.reviews-slider__input {
  display: none;
  &:checked + label {
    background-color: $second-color;
  }
}


//notice - блок объявлений
.notice {
  padding-top: 60px;
  padding-bottom: 25px;
}
.notice__wrapper {
  @include wrapper();
}
.notice__section {
  margin-bottom: 20px;
}
.notice__items {
  @include row-flex();
  justify-content: center;
}
.notice__item {
  @include col();
  @include size(4);
  @include size-md(6);
  @include size-xs(10);
  margin-bottom: 25px;
}
.notice__img {
  border-radius: 20px;
}
.notice__date {
  @include fonts($rob, 14, 32, 400);
  color: #212121;
}
.notice__text {
  @include fonts($rob, 16, 26, 400);
}
.notice__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: capitalize;
}
.notice__section-link {
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 50px;
  @include fonts($rob, 16, 34, 500);
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  &--active {
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }
}

//other  -  блок разное
.other {
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  @media screen and (max-width: 870px) {
    justify-content: center;
  }
}
.other__wrapper {
  @include wrapper();
  max-width: 97%;
}
.other__items {
  @include row-flex();
  justify-content: space-around;
}
.other__item {
  @include col();
  position: relative;
  flex-basis: 210px;
  padding-top: 85px;
  margin-bottom: 25px;
  &::after {
    position: absolute;
    margin: 0 auto;
    content: "";
    top: 0;
    left: 0;
    width: 94px;
    height: 76px;
  }
  &--ico-house {
    background: url("../img/ico-house.png") no-repeat;
  }
  &--ico-notice {
    background: url("../img/ico-notice.png") no-repeat;
  }
  &--ico-clock {
    background: url("../img/ico-clock.png") no-repeat;
  }
  &--ico-book {
    background: url("../img/ico-book.png") no-repeat;
  }
  @media screen and (max-width: 1010px) {
  margin-left: 60px;
  margin-right: 60px;
  }
  @media #{$m-sm} {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.other__caption {
  @include fonts($rob, 18, 26, 500);
  color: $main-color;
  text-transform: capitalize;
  text-decoration: none;
}
.other__description {
  @include fonts($rob, 14, 24, 400);
  margin: 0;
}
.footer__input-subscribe {
  border: 1px solid $main-color;
}



//footer - блок подвал
.footer {
  padding-top: 280px;
  padding-bottom: 230px;
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  background-image:
                url("../img/footer-pic.png"),
                url("../img/cloud.png"),
                url("../img/rainbow.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom center, bottom center, top 22px right 35px;
  background-size: contain, auto 90%, auto;
  @media screen and (max-width: 1100px) {
    padding-bottom: 120px;
  }
  @media screen and (max-width: 430px) {
    padding-bottom: 60px;
  }
  a { text-decoration: none; }
}
.footer__wrapper {
  @include wrapper();
}
.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    margin-bottom: 70px;
  }
}
.footer__sign-in {
  @media screen and (max-width: 900px) {
    margin-bottom: 30px;
  }
}
.footer__sign-in-link {
  @include fonts($rob, 16, 26, 500);
  color: $main-color;
  text-transform: uppercase;
}
.footer__subtitle {
  margin: 0;
  @include fonts($rob, 16, 32, 700);
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__input-subscribe {
  padding: 15px;
  outline: none;
}

.footer__middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media screen and (max-width: 900px) {
    justify-content: space-around;
  }
}
.footer__contacts {
  margin-right: 40px;
  @include fonts($rob, 14, 24, 400);
  text-transform: uppercase;
  @media #{$m_xs} {
    margin: 30px;
    margin-top: 0;
  }
}
.footer__address-block {
  margin-bottom: 20px;
  span {
    font-size: 18px;
  }
}
.footer__contacts-subtitle {
  @include fonts($rob, 16, 24, 400);
  color: $main-color;
}
.footer__contacts-block p {
  margin: 0;
}
.footer__contacts sup {
    font-weight: 300;
}
.footer__quicklinks {
  margin-right: 20px;
  @media screen and (max-width: 900px) {
    margin-bottom: 50px;
  }
  @media #{$m_xs} {
    margin: 40px;
    margin-top: 0;
  }
}
.footer__link {
  display: block;
  @include fonts($rob, 14, 24, 400);
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
.footer__instagram {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: 430px) {
    align-items: center;
    text-align: center;
  }
}
.footer__instagram-items {
  margin-top: auto;
}
.footer__instagram-item {
  display: inline-block;
  width: 99px;
  height: 99px;
  background-color: $main-color;
  border-radius: 25px;
  @media screen and (max-width: 430px) {
    margin: 20px;
  }
}

.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
  @media screen and (max-width: 1100px) {
    justify-content: center;
  }
  @media screen and (max-width: 810px) {
    flex-direction: column;
    align-items: center;
}
}
.footer__logo {
  margin-top: -33px;
  @media screen and (max-width: 1100px) {
    order: 1;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
  }
  @media screen and (max-width: 810px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (max-width: 430px) {
    width: 180px;
  }
}
.footer__copyright {
  margin-right: 30px;
  @include fonts($rob-sl, 14, 32, 700);
  color: $main-color;
  text-transform: uppercase;
  @media screen and (max-width: 810px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  @media #{$m_xs} {
    text-align: center;
  }
}
.footer__social-link {
  position: relative;
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
  @media screen and (max-width: 810px) {
    order: -1;
    margin-bottom: 20px;
  }
}
.footer__social {
  width: 315px;
  font-size: 0;
  i.fa {
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
    color: $main-color;
    text-transform: uppercase;
  }
}
