
// Общие стили
ul {
  @include ul-style;
}

img {
  max-width: 100%;
  height: auto;
}

//Кнопки
.btn {
  display: inline-block;
  padding: 8px 20px;
  @include fonts($rob, 16, 34, 500);
  color: $main-color;
  background-color: $second-color;
  outline: none;
  border-radius: 10px;
  text-transform: uppercase;
  &--invert {
    color: $second-color;
    background-color: $main-color;
  }
}

//Header - Шапка
.header {
  background-color: $main-color;
}


//menu - меню
.menu {
  @include fonts($dosis, 14, 25, 400);
  color: $second-color;
}
.menu__link {
  color: $second-color;
}
.menu__item-link {
  color: $second-color;
  text-decoration: none;
  text-transform: uppercase;
}




//slider - Слайдер






//welcome - блок привествия
.welcome {
  background-color: $main-color;
}
.welcome__subtitle {
  @include fonts($dosis, 30, 56, 500);
}

.welcome__caption {
  @include fonts($dosis, 36, 56, 700);
  text-transform: uppercase;
}

.welcome__text {
  @include fonts($rob, 14, 24, 400);
}




//features - блок преимуществ
.features__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: uppercase;
}
.features__text {
  @include fonts($rob, 14, 24, 500);
}
.features__info-subtitle {
  @include fonts($rob, 14, 24, 500);
}
.features__info-name {
  @include fonts($rob-sl, 24, 24, 400);
}
.features__info-text {
  @include fonts($rob, 14, 24, 400);
}
.features__info-link {
  @include fonts($rob, 16, 34, 500);
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
}




//facilities - блок школьные средства
.facilities {
  background-color: $main-color;
}
.facilities__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $second-color;
  text-transform: capitalize;
}
.facilities__text {
  @include fonts($rob, 14, 24, 400);
  color: $second-color;
}
.facilities__item {
  @include fonts($rob, 16, 24, 500);
  color: $second-color;
}



//teachers - блок учителя
.teachers__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: capitalize;
}
.teachers__text {
  @include fonts($rob, 14, 24, 500);
}
.teachers__info {
  color: $second-color;
  background-color: $main-color;
}
.teachers__name {
  @include fonts($dosis, 26, 36, 700);
}
.teachers__lesson {
  @include fonts($dosis, 14, 26, 500);
}




//reviews-slider  -  слайдер с отзывами
.reviews-slider {
  color: $second-color;
  background-color: $main-color;
}
.reviews-slider__person-name {
  @include fonts($dosis, 36, 46, 700);
}
.reviews-slider__text {
  @include fonts($rob, 18, 28, 400);
}





//notice - блок объявлений
.notice__date {
  @include fonts($rob, 14, 32, 400);
  color: #212121;
}
.notice__text {
  @include fonts($rob, 16, 26, 400);
}
.notice__caption {
  @include fonts($dosis, 36, 46, 700);
  color: $main-color;
  text-transform: capitalize;
}
.notice__section-link {
  @include fonts($rob, 16, 34, 500);
  color: $main-color;
  text-decoration: none;
}




//other  -  блок разное
.other {
  background-color: #f5f5f5;
}
.other__caption {
  @include fonts($rob, 18, 26, 500);
  color: $main-color;
  text-transform: capitalize;
}
.other__description {
  @include fonts($rob, 14, 24, 400);
}
.footer__input-subscribe {
  border: 1px solid $main-color;
}



//footer - блок подвал
.footer {
//  background-color: $main-color;
}
.footer__sign-in-link {
  @include fonts($rob, 16, 26, 500);
}
.footer__subtitle {

}

.footer__instagram-item {
  width: 99px;
  height: 99px;
  background-color: $main-color;
}

.footer__copyright {
  @include fonts($rob-sl, 14, 32, 700);
  color: $main-color;
}
.footer__social-link {
  font-family: 'FontAwesome';
}
