//Цвета
$main-color: #00a4d3;
$second-color: #ffffff;

//Шрифт
$rob: "Roboto", "Arial", sans-serif;
$rob-sl: "Roboto Slab", "Georgia", serif;
$dosis: "Dosis", "Arial", sans-serif;

//Медиа
$m-md: "screen and (max-width: 992px)";
$m-sm: "screen and (max-width: 720px)";
$m_xs: "screen and (max-width: 480px)";

