body {
  min-width: 320px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  color: #00a4d3;
  background-color: #ffffff;
  outline: none;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--invert {
  color: #ffffff;
  background-color: #00a4d3;
}

.btn--no-brad {
  border-radius: 0;
}

.header {
  background-color: #00a4d3;
}

.header__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
}

.header__logo {
  margin-right: 82px;
  min-width: 150px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
}

.menu__top {
  display: flex;
  justify-content: space-between;
}

.menu__contacts {
  display: flex;
  justify-content: space-between;
  flex-basis: 323px;
}

.menu__user-block {
  display: flex;
  justify-content: space-between;
  flex-basis: 234px;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
}

.menu__items {
  display: flex;
  justify-content: space-between;
}

.menu__item-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__search {
  font-size: 0;
}

.menu__search .fa-search {
  padding-top: 5px;
}

.menu__top i.fa {
  font-size: 16px;
  margin-right: 9px;
}

.welcome {
  padding: 55px 0;
  background: #00a4d3 url(../img/welcome-layer.jpg) no-repeat top center;
  background-size: cover;
  color: #ffffff;
}

.welcome__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  background: url(../img/welcome-kids.png) no-repeat top right 20px;
  background-size: 50%;
}

.welcome__block {
  width: calc(41.66667% - 30px);
}

.welcome__subtitle {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 30px;
  line-height: 56px;
  font-weight: 500;
}

.welcome__caption {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.features {
  padding-top: 57px;
  padding-bottom: 50px;
}

.features__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.features__caption {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #00a4d3;
  text-transform: uppercase;
}

.features__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.features__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 45px;
}

.features__item:nth-child(even) {
  flex-direction: column-reverse;
}

.features__item:nth-child(even) .features__info {
  border-radius: 25px 25px 0 0;
}

.fearures__img-container {
  width: 283px;
  height: 334px;
}

.features__info {
  width: 283px;
  height: 334px;
  box-sizing: border-box;
  padding: 36px;
  background-color: #fafafa;
  border-radius: 0 0 25px 25px;
}

.features__info-subtitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.features__info-subtitle i.fa-folder-open {
  font-size: 16px;
  margin-right: 5px;
}

.features__info-name {
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.features__info-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.features__info-link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  color: #00a4d3;
  text-transform: uppercase;
  text-decoration: none;
}

.features__btn {
  text-align: center;
}

.facilities {
  padding: 55px 0;
  background: #00a4d3 url("../img/facilities-layer.jpg") top center;
  background-size: contain;
}

.facilities__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.facilities__info {
  max-width: 488px;
}

.facilities__caption {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.facilities__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.facilities__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 556px;
}

.facilities__item {
  position: relative;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  margin: 18px 12px;
  padding-top: 100px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #00a4d3;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.facilities__item::before {
  position: absolute;
  content: '';
  width: 48px;
  height: 55px;
  bottom: 70px;
  left: calc(50% - 24px);
}

.facilities__item--health::before {
  background: url("../img/healthy_meals.png") no-repeat;
}

.facilities__item--multimedia::before {
  background: url("../img/multimedia.png") no-repeat;
}

.facilities__item--art::before {
  background: url("../img/art.png") no-repeat;
}

.facilities__item--events::before {
  background: url("../img/events.png") no-repeat;
}

.facilities__item--teachers::before {
  background: url("../img/teachers.png") no-repeat;
}

.facilities__item--acivement::before {
  background: url("../img/achievements.png") no-repeat;
}

.teachers__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.teachers__caption {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #00a4d3;
  text-transform: capitalize;
}

.teachers__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.teachers__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.teachers__item {
  position: relative;
  width: 258px;
  height: 258px;
  margin: 13px;
}

.teachers__img {
  border-radius: 25px;
}

.teachers__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: #00a4d3;
  border-radius: 0 0 25px 25px;
}

.teachers__name {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}

.teachers__lesson {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}

.reviews-slider {
  color: #ffffff;
  background-color: #00a4d3;
}

.reviews-slider__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.reviews-slider__person-name {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
}

.reviews-slider__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.notice {
  padding-top: 60px;
  padding-bottom: 25px;
}

.notice__wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.notice__section {
  margin-bottom: 20px;
}

.notice__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.notice__item {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.33333% - 30px);
  margin-bottom: 25px;
}

.notice__img {
  border-radius: 20px;
}

.notice__date {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #212121;
}

.notice__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.notice__caption {
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #00a4d3;
  text-transform: capitalize;
}

.notice__section-link {
  display: inline-block;
  padding-bottom: 10px;
  margin-right: 50px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}

.notice__section-link--active {
  color: #00a4d3;
  border-bottom: 2px solid #00a4d3;
}

.other {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.other__item {
  position: relative;
  flex-basis: 210px;
  padding-top: 85px;
  margin-bottom: 25px;
}

.other__item::after {
  position: absolute;
  margin: 0 auto;
  content: "";
  top: 0;
  left: 0;
  width: 94px;
  height: 76px;
}

.other__item--ico-house {
  background: url("../img/ico-house.png") no-repeat;
}

.other__item--ico-notice {
  background: url("../img/ico-notice.png") no-repeat;
}

.other__item--ico-clock {
  background: url("../img/ico-clock.png") no-repeat;
}

.other__item--ico-book {
  background: url("../img/ico-book.png") no-repeat;
}

.other__caption {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #00a4d3;
  text-transform: capitalize;
  text-decoration: none;
}

.other__description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.footer__input-subscribe {
  border: 1px solid #00a4d3;
}

.footer {
  padding-top: 280px;
  padding-bottom: 230px;
  display: flex;
  flex-direction: column;
  background-color: #00a4d3;
  background-image: url("../img/footer-pic.png"), url("../img/cloud.png"), url("../img/rainbow.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom center, bottom center, top 22px right 35px;
  background-size: contain, auto 90%, auto;
}

.footer a {
  text-decoration: none;
}

.footer__top {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.footer__sign-in-link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

.footer__subtitle {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: #00a4d3;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__input-subscribe {
  padding: 15px;
  outline: none;
}

.footer__middle {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer__contacts {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__address-block {
  margin-bottom: 20px;
  margin-right: 30px;
}

.footer__address-block span {
  font-size: 18px;
}

.footer__contacts-subtitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #00a4d3;
}

.footer__contacts-block p {
  margin: 0;
}

.footer__contacts sup {
  font-weight: 300;
}

.footer__quicklinks {
  margin-right: 30px;
}

.footer__link {
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer__instagram {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__instagram-items {
  margin-top: auto;
}

.footer__instagram-item {
  display: inline-block;
  width: 99px;
  height: 99px;
  background-color: #00a4d3;
  border-radius: 25px;
}

.footer__bottom {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.footer__logo {
  margin-top: -33px;
}

.footer__copyright {
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  color: #00a4d3;
  text-transform: uppercase;
}

.footer__social-link {
  position: relative;
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
}

.footer__social {
  width: 315px;
  font-size: 0;
}

.footer__social i.fa {
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  color: #00a4d3;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcome__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcome__wrapper {
    background-size: 60%;
  }

  .features__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .features__items {
    margin-left: 48px;
    margin-right: 48px;
  }

  .facilities__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .facilities__info {
    max-width: 320px;
  }

  .facilities__items {
    width: 500px;
  }

  .teachers__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviews-slider__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .notice__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .notice__item {
    width: calc(50% - 30px);
  }

  .footer__top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__middle {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 870px) {
  .other {
    justify-content: center;
  }

  .other__item {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
  .header__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .welcome__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .welcome__wrapper {
    background-size: 35%;
  }

  .welcome__block {
    width: calc(100% - 30px);
  }

  .welcome__block {
    margin: 0 auto;
    width: 100%;
  }

  .features__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .features__items {
    margin: 0;
  }

  .facilities__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .facilities__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .facilities__info {
    max-width: 400px;
  }

  .teachers__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .reviews-slider__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .notice__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .other__item {
    margin-right: 20px;
    margin-left: 20px;
  }

  .footer__top {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__middle {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__bottom {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .welcome {
    padding-top: 20px;
  }

  .welcome__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .welcome__wrapper {
    background-position: top center;
  }

  .welcome__block {
    padding-top: 100px;
  }

  .features__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .facilities__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .teachers__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .reviews-slider__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .notice__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

  .notice__item {
    width: calc(83.33333% - 30px);
  }

  .footer__top {
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer__middle {
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer__bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 400px) {
  .facilities__item {
    width: 250px;
    height: 250px;
    padding-top: 140px;
  }

  .facilities__item::before {
    bottom: 110px;
  }
}

@media screen and (max-width: 1180px) and (min-width: 993px) {
  .fearures__img-container {
    width: 230px;
    height: 262px;
  }

  .features__info {
    width: 230px;
    height: 262px;
    padding: 25px;
  }
}